@import url('https://fonts.googleapis.com/css?family=Yatra+One');

/*Global */
body {
    font-size: 1.3em;
    color: white;
    font-family: 'Yatra One', cursive;
    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
}

    /* Character Selection */
/*<==========================>*/

/* Styles the characters are in to choose from */
#choose-character {
    display: flex;
    justify-content: space-evenly;
}

/*Styles the text of the charatcer boxes */
#choose-character p {
    padding: 0;
    margin: 0;
}

/* Styles the health text to a smaller font size from characters names */
.health {
    font-size: 16px;
    background-color: red;
    border-radius: 10px;
}


    /* Characters */
/*<=================>*/

/*Styles the actual box the characters are in */
.character {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}
    /* MICKEY CHARACTER */
/*<=======================>*/
/*gives mickey his character image */
.mickey {
    background: url("../images/mickey/mickey-select.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;     
}
/*Sets sprite when character is the player*/
#selectedCharacter .mickey {
    background: url("../images/mickey/mickey-sprite-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;
}
/*Sets sprite when character is the active enemy*/
#chosenEnemy .mickey {
    background: url("../images/mickey/mickey-sprite-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center; 
}
/* Sets the name hidden when they are the selected character/active enemy/defeated and hides health bar when defeated */
#chosenEnemy .mickey #name, #selectedCharacter .mickey #name, 
#defeatedEnemies .mickey #name, #defeatedEnemies .mickey .health {
    display: none;
}
/*Styles sprite when it is defeated */
#defeatedEnemies .mickey {
    background: url("../images/mickey/mickey-defeated.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated; 
}

    /* DONALD CHARACTER */
/*gives donald his character image */
.donald {
    background: url("../images/donald/donald-select.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;    
}
/*Sets sprite when character is the player*/
#selectedCharacter .donald {
    background: url("../images/donald/donald-sprite-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated; 
}
/*Sets sprite when character is the active enemy*/
#chosenEnemy .donald {
    background: url("../images/donald/donald-sprite-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated; 
}
/* Sets the name hidden when they are the selected character/active enemy/defeated and hides health bar when defeated */
#chosenEnemy .donald #name, #selectedCharacter .donald #name, 
#defeatedEnemies .donald #name, #defeatedEnemies .donald .health {
    display: none;
}
/*Styles sprite when it is defeated */
#defeatedEnemies .donald {
    background: url("../images/donald/donald-defeated.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated; 
    background-position: center;
}

    /* GOOFY CHARACTER */
/*<======================>*/
/*gives goofy his character image */
.goofy {
    background: url("../images/goofy/goofy-select.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;     
}
/*Sets sprite when character is the player*/
#selectedCharacter .goofy {
    background: url("../images/goofy/goofy-sprite-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;
}
/*Sets sprite when character is the active enemy*/
#chosenEnemy .goofy {
    background: url("../images/goofy/goofy-sprite-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center; 
}
/* Sets the name hidden when they are the selected character/active enemy/defeated and hides health bar when defeated */
#chosenEnemy .goofy #name, #selectedCharacter .goofy #name, 
#defeatedEnemies .goofy #name, #defeatedEnemies .goofy .health {
    display: none;
}
/*Styles sprite when it is defeated */
#defeatedEnemies .goofy {
    background: url("../images/goofy/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated; 
}

    /* POOH CHARACTER */
/*<=====================>*/

/*gives pooh his character image */
.pooh {
    background: url("../images/pooh/pooh-select.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;     
}
/*Sets sprite when character is the player*/
#selectedCharacter .pooh {
    background: url("../images/pooh/pooh-sprite-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center;
}
/*Sets sprite when character is the active enemy*/
#chosenEnemy .pooh {
    background: url("../images/pooh/pooh-sprite-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    background-position: center; 
}
/* Sets the name hidden when they are the selected character/active enemy/defeated and hides health bar when defeated */
#chosenEnemy .pooh #name, #selectedCharacter .pooh #name, 
#defeatedEnemies .pooh #name, #defeatedEnemies .pooh .health {
    display: none;
}
/*Styles sprite when it is defeated */
#defeatedEnemies .pooh {
    background: url("../images/pooh/pooh-defeated.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated; 
}

    /* Fighting Areas */
/*<=====================>*/

/* Styles the whole div enemies and the player get put into once a character has been chosen */
#battleDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* This styles the div the player and chosen enemy fight in */
#fight-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:400px;
    width: 500px;
    margin: 0 auto;
    border: 2px solid red;
}

/*Styles the fight area container that holds the chosen character */
#selectedCharacter {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
}


/*Styles the fight area container that holds the chosen enemy */
#chosenEnemy {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*styles the text above the fight area that says your hero */
.yourHero {
    background: red;
    border-radius: 10px;
}
/* styles the text above the fight area that says active enemy */
.activeEnemy {
    background: red;
    border-radius: 10px;
}

/* Styles the div the enemies get pushed to once the player chooses a character */
#enemiesToFight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 550px;
    border: 2px solid red;
}

/*Styles the div the enemies get pushed to once they are defeated */
#defeatedEnemies {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 550px;
    border: 2px solid red;
    pointer-events: none;
}

/*This styles the attack button */
#attack {
    width: 50px;
    height: 50px;
    border: 1px solid lightblue;
    background: red;
    color: white;
    border-radius: 10px;
}
/*Styles the text underneath the enemy that display damage done by player */
#playerDamage {
    background-color: red;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Styles the text underneath the player that displays damage done by enemy */
#enemyDamage {
    background-color: red;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

